.color-radio {
  input {
    margin: 0;
    position: absolute;
    height: 20px;
    width: 20px;
    visibility: hidden;

    &:checked + label {
      box-shadow: 0 0 0 4px #c3002f;
    }

    &:hover + label {
      box-shadow: 0 0 0 4px #c3002f;
    }
  }

  label {
    position: relative;
    font-size: 0;
    margin: 6px;
    transition: box-shadow 0.4s;
    display: block;

    height: 20px;
    width: 20px;

    border-radius: 50%;

    background-clip: content-box;

    cursor: pointer;
    background-color: #ddd;
  }
}

.color-radio.mark {
  label {
    border: 1px solid #888888;
  }
}
